<main>
  <header>
		About page
  </header>
</main>
<section class="supporting">
  <header>
    Want to subscribe?
    <%= button_to 'Subscribe', :about,  {class: "btn btn-warning"} %>
  </header>
</section>