
<main>
  <header>
		About page
  </header>
</main>
<section class="supporting">
  <header>
    Want to subscribe?
    <%= button_to 'Subscribe', :new_signup,  {method: :get, class: "btn btn-warning"} %>
  </header>
</section>