<nav>
  <div id="button">
    &nbsp;
  </div>
  <div id="menu">
        <ul>
            <li><a href="#">Menu Item 1</a></li>
            <li><a href="#">Menu Item 2</a></li>
            <li><a href="#">Menu Item 3</a></li>
            <li><a href="#">Menu Item 4</a></li>
            <li><a href="#">Menu Item 5</a></li>
            <li><a href="#">Menu Item 6</a></li>
            <li><a href="#">Menu Item 7</a></li>
            <li><a href="#">Menu Item 8</a></li>
            <li><a href="#">Menu Item 9</a></li>
            <li><a href="#">Menu Item 10</a></li>
            <li><a href="#">Menu Item 11</a></li>
            <li><a href="#">Menu Item 12</a></li>
        </ul>
    </div>  
</nav>
<main>
  <header>
		Relax and enjoy
  </header>
  <%= button_tag 'Learn more', {class: "btn btn-warning"} %>
</main>
<section class="supporting">
  <header>
    What do you think about it?
  </header>
</section>
<section class="secondary">	
</section>
<section class="discover">
  <header>
    Want to know more? <br />
  <%= button_tag 'Learn more', {class: "btn btn-warning"} %>
  </header>
</section>
<footer>
  My awesome project &copy;
</footer>