
<main>
  <header>
		Relax and enjoy
  </header>
  <%= button_to 'Learn more', :about,  {class: "btn btn-warning"} %>
</main>
<section class="supporting">
  <header>
    What do you think about it?
  </header>
</section>
<section class="secondary">	
</section>
<section class="discover">
  <header>
    Want to know more? <br />
  <%= button_to 'Learn more', :about,  {class: "btn btn-warning"} %>
  </header>
</section>